<div class="d-flex search-bar container">

    <!-- input tag to take the search query as input from user -->
    <!-- using ngModel to extract its vaue on .ts file of this component  -->
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] = "searchQuery">

    <!-- search button to search the entered query by user -->
    <!-- calling the search method on click event of this search button -->
    <button class="btn btn-outline-success custom-btn" type="submit" (click) = "search()">Search</button>

    <!-- Bookmark button to redirect to bookmarks page where all the bookmarked movie are stored -->
    <!-- using routerLink for routing on '/bookmarks' page -->
    <button class="btn btn-outline-success custom-btn" routerLink='/bookmarks'>Bookmarks</button>
    
</div>